body{
    font-family: product-sans-regular;
    padding: 20px 60px;
}

@font-face {
    font-family: 'product-sans-regular';
    src: URL('Product-Sans-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
    color: black;
}